body{
/*   
  background-image: url("finalfour.jpg");
	/* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  */
  background-color: white;
}	

h1 {
  padding-bottom: 10px;
  text-align: center;
  color: rgb(24, 22, 22);
  font-size: 60px;
}

h2 {
	padding: 0px;
  text-align: center;
  color: white;
  font-size: 20px;
}

/* div{
  background: blue;
  color: pink;
} */


html, body {
  height: 100%;
  width: 100%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.desc{
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}