h1{
    text-align: center;
}

img{
    border-radius: 50%;
    width:200px;
    height: auto;
}

.item {
    margin-top: 10px;
    margin-bottom: 0px;
}


div.prog{
    /* width: 35%; */
    background-color: blueviolet;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border: 1px solid #77aaff;
    box-shadow:  -1px 1px #77aaff,
         -2px 2px #77aaff,
         -3px 3px #77aaff,
         -4px 4px #77aaff,
         -5px 5px #77aaff;
}

iframe.prog {
    margin:auto;
    display:block;
    width: 80%;
    align-content: center;
    aspect-ratio: 2/1;
}

h1.prog{
    text-align: center;
}

#parent {
    display: flex;
    justify-content: space-around;
  }
  
  #left {
    width: 50%;
    border-radius: 5%;
  }
  
  #right {
    width: 50%;
    border-radius: 5%;

  }

  .sample{
    margin: 5%;
    padding:5%;
    background-color: blue;
    color: red;
    border-radius: 20%;
  }