body{
    background-color:forestgreen;
}

h1{
    color:white;
    text-align: center;
    font-size: 100px;
    font-family:'Franklin Gothic Medium';
}

div{
  margin-left: 10%;
  margin-right: 10%
}

.list_header{
  color: white;
  font-size: 30px;
}

.bullets{
  color: white;
}

 container{
    display:block;
    align-items: center;
 }
nav.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: red;
    /* background-color: white; */
  }
  
  .active {
    background-color: #04AA6D;
  }



